In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"r4rain","key":"d221dbf49c8404d1f38a6e0563e2519c"}'}

In [3]:
! mkdir ~/.kaggle

In [4]:
!cp kaggle.json ~/.kaggle/

In [5]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
! kaggle datasets download -d kandij/job-recommendation-datasets

Downloading job-recommendation-datasets.zip to /content
 94% 49.0M/52.4M [00:00<00:00, 49.4MB/s]
100% 52.4M/52.4M [00:01<00:00, 54.0MB/s]

In [7]:
! unzip job-recommendation-datasets.zip

Archive:  job-recommendation-datasets.zip
  inflating: Combined_Jobs_Final.csv
  inflating: Experience.csv
  inflating: Job_Views.csv
  inflating: Positions_Of_Interest.csv
  inflating: job_data.csv

Import Libraries

In [8]:
import pandas as pd
import numpy as np
import nltk

Load Dataset

In [9]:
df_jobs = pd.read_csv("Combined_Jobs_Final.csv")
df_jobs.head()

   Job.ID  Provider  ...               Created.At               Updated.At
0     111         1  ...  2013-03-12 02:08:28 UTC  2014-08-16 15:35:36 UTC
1     113         1  ...  2013-04-12 08:36:36 UTC  2014-08-16 15:35:36 UTC
2     117         1  ...  2013-07-16 09:34:10 UTC  2014-08-16 15:35:37 UTC
3     121         1  ...  2013-09-04 15:40:30 UTC  2014-08-16 15:35:38 UTC
4     127         1  ...  2013-07-17 15:26:18 UTC  2014-08-16 15:35:40 UTC

[5 rows x 23 columns]

In [10]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB

In [11]:
df_jobs.isnull().sum()

Job.ID                    0
Provider                  0
Status                    0
Slug                      0
Title                     0
Position                  0
Company                2271
City                    135
State.Name              171
State.Code              171
Address               84054
Latitude                  0
Longitude                 0
Industry              83823
Job.Description          56
Requirements          84090
Salary                83861
Listing.Start           683
Listing.End             167
Employment.Type          10
Education.Required      267
Created.At                0
Updated.At                0
dtype: int64

In [12]:
cols = ['Job.ID']+['Title']+['Position']+ ['Company']+['City']+['Employment.Type']+['Job.Description']
df_jobs = df_jobs[cols]
df_jobs.columns = ['Job.ID', 'Title', 'Position', 'Company','City', 'Empl_type','Job_Description']
df_jobs.head()

   Job.ID  ...                                    Job_Description
0     111  ...  Tacolicious' first Palo Alto store just opened...
1     113  ...   \r\n\r\nNew French Brasserie in S.F. Financia...
2     117  ...  We are a popular Mediterranean wine bar and re...
3     121  ...   ● Serve food/drinks to customers in a profess...
4     127  ...  Located at the heart of Hollywood, we are one ...

[5 rows x 7 columns]

In [13]:
df_nan_city = df_jobs[pd.isnull(df_jobs['City'])]
print(df_nan_city.shape)
df_nan_city.head()

(135, 7)

      Job.ID  ...                                    Job_Description
3425  142044  ...  Under the direction of the Clinical Coordinato...
3433  142054  ...  If you&rsquo;re energetic, motivated, hardwork...
3434  142055  ...  If you&rsquo;re energetic, motivated, hardwork...
3435  142056  ...  If you&rsquo;re energetic, motivated, hardwork...
3436  142057  ...  If you&rsquo;re energetic, motivated, hardwork...

[5 rows x 7 columns]

In [14]:
df_nan_city.groupby(['Company'])['City'].count()

Company
Academic Year In America                0
CBS Healthcare Services and Staffing    0
CHI Payment Systems                     0
Driveline Retail                        0
Educational Testing Services            0
Genesis Health System                   0
Genesis Health Systems                  0
Home Instead Senior Care                0
St. Francis Hospital                    0
Volvo Group                             0
Name: City, dtype: int64

In [15]:
#replacing nan with thier headquarters location
df_jobs['Company'] = df_jobs['Company'].replace(['Genesis Health Systems'], 'Genesis Health System')
df_jobs.loc[df_jobs.Company == 'CHI Payment Systems', 'City'] = 'Illinois'
df_jobs.loc[df_jobs.Company == 'Academic Year In America', 'City'] = 'Stamford'
df_jobs.loc[df_jobs.Company == 'CBS Healthcare Services and Staffing ', 'City'] = 'Urbandale'
df_jobs.loc[df_jobs.Company == 'Driveline Retail', 'City'] = 'Coppell'
df_jobs.loc[df_jobs.Company == 'Educational Testing Services', 'City'] = 'New Jersey'
df_jobs.loc[df_jobs.Company == 'Genesis Health System', 'City'] = 'Davennport'
df_jobs.loc[df_jobs.Company == 'Home Instead Senior Care', 'City'] = 'Nebraska'
df_jobs.loc[df_jobs.Company == 'St. Francis Hospital', 'City'] = 'New York'
df_jobs.loc[df_jobs.Company == 'Volvo Group', 'City'] = 'Washington'
df_jobs.loc[df_jobs.Company == 'CBS Healthcare Services and Staffing', 'City'] = 'Urbandale'

In [16]:
df_jobs.isnull().sum()

Job.ID                0
Title                 0
Position              0
Company            2271
City                  0
Empl_type            10
Job_Description      56
dtype: int64

In [17]:
#The employement type NA are from Uber so I assume as part-time and full time
df_nan_emp = df_jobs[pd.isnull(df_jobs['Empl_type'])]
df_nan_emp.head()

       Job.ID  ...                                    Job_Description
10768  153197  ...  Uber is changing the way the world moves. From...
10769  153198  ...  Uber is changing the way the world moves. From...
10770  153199  ...  Uber is changing the way the world moves. From...
10771  153200  ...  Uber is changing the way the world moves. From...
10772  153201  ...  Uber is changing the way the world moves. From...

[5 rows x 7 columns]

In [18]:
df_jobs['Empl_type'].unique()

array(['Part-Time', 'Full-Time/Part-Time', 'Seasonal/Temp', 'Per Diem',
       'Intern', nan, 'Full-Time', 'Contract', 'Temporary/seasonal'],
      dtype=object)

In [19]:
#replacing na values with part time/full time
df_jobs['Empl_type']=df_jobs['Empl_type'].fillna('Full-Time/Part-Time')
df_jobs.groupby(['Empl_type'])['Company'].count()
df_jobs.head()

   Job.ID  ...                                    Job_Description
0     111  ...  Tacolicious' first Palo Alto store just opened...
1     113  ...   \r\n\r\nNew French Brasserie in S.F. Financia...
2     117  ...  We are a popular Mediterranean wine bar and re...
3     121  ...   ● Serve food/drinks to customers in a profess...
4     127  ...  Located at the heart of Hollywood, we are one ...

[5 rows x 7 columns]

In [20]:
# combining the columns of position, company, city, emp_type and position
df_jobs["text"] = df_jobs["Position"].map(str) + " " + df_jobs["Company"] +" "+ df_jobs["City"]+ " "+df_jobs['Empl_type']+" "+df_jobs['Job_Description'] +" "+df_jobs['Title']
df_jobs.head(2)

   Job.ID  ...                                               text
0     111  ...  Server Tacolicious Palo Alto Part-Time Tacolic...
1     113  ...  Kitchen Staff/Chef Claude Lane San Francisco P...

[2 rows x 8 columns]

In [21]:
# Fill na column
df_all = df_jobs[['Job.ID', 'text', 'Title']]
df_all = df_all.fillna(" ")
df_all.head()

   Job.ID  ...                                        Title
0     111  ...                         Server @ Tacolicious
1     113  ...             Kitchen Staff/Chef @ Claude Lane
2     117  ...         Bartender @ Machka Restaurants Corp.
3     121  ...                      Server @ Teriyaki House
4     127  ...  Kitchen Staff/Chef @ Rosa Mexicano - Sunset

[5 rows x 3 columns]

In [22]:
df_all.shape

(84090, 3)

In [23]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [24]:
from nltk.corpus import stopwords
import re
import string
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
from nltk.corpus import stopwords
stop = stopwords.words('english')
stop_words = set(stopwords.words('english'))
wn = WordNetLemmatizer()

def text_valid(token):
  return token not in stop_words and token not in list(string.punctuation) and len(token) > 2

def preprocess(text):
  result1 = []
  result2 = []
  text = re.sub("'", "",text)
  text = re.sub("(\\d|\\W)+"," ",text)
  result1 = [wn.lemmatize(word, pos="v") for word in word_tokenize(text.lower()) if text_valid(word)]
  result2 = [word for word in result1 if text_valid(word)]
 
  return " ".join(result2)

In [25]:
# Preprocessing all text
df_all['text'] = df_all['text'].apply(preprocess)

In [26]:
df_all.head(3)

   Job.ID  ...                                 Title
0     111  ...                  Server @ Tacolicious
1     113  ...      Kitchen Staff/Chef @ Claude Lane
2     117  ...  Bartender @ Machka Restaurants Corp.

[3 rows x 3 columns]

In [65]:
df_all.to_csv('job_list.csv')
from google.colab import files
files.download("job_list.csv")